<div class="col_12">
  <h1>Lista de Produtos</h1>
  <% @produtos.each do |produto| %>
    <h4><%= produto.nome %> (<%= produto.tipo %>)</h4>
          <p><%= produto.descricao %></p> 
          <h5>R$<%= produto.preco %></h5>
    <div class="col_7">
          <%= link_to 'Show', produto %> |
          <%= link_to 'Edit', edit_produto_path(produto) %> |
          <%= link_to 'Destroy', produto, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <%end%>
  <br>
  <%= link_to 'New Produto', new_produto_path, class: "btn btn-medium" %>

</div> 

